article {
  padding: 50px 30px 20px 60px;
  margin-left: 40px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO6wwSYTrFslWZjVOQPZl8cAmaC4i1ISMMew&s");
  background-repeat: repeat;
}

article section {
  background-color: #cccccc;
  width: 500px;
  height: 500px;
}

article section  ul {
  line-height: 4;
  color: RGB(255,0,0) !important;
}

.item {
    color:rgb(255, 255, 0)
}

.bordasArredondadas {
  border-radius: 10px;
  margin-left: 40px;
}

.destaque {
  color: rgb(255, 255, 0);
  font-weight: bold;
  margin-left: 40px;
}

.imgPequena {
    width: 300px;
}

#qualquernome {
  background-color: RGB(255,0,0);
  padding: 20px;
  margin: 10px;
}

ul {
  list-style-type: square;
}
